* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'manrope', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #eff6f1;
}

.verde {
  color: #13ec5b;
}

p,
label {
  color: #808082;
}

.container {
  width: 450px;
  height: 750px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid #e4e4e7;
  border-radius: 20px;
  box-shadow: 0px 0px 8px #e4e4e7;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  width: 60%;
}

header p {
  text-align: center;
}

form {
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 4px;

  margin: 42px 0;
}

form label {
  font-size: 16px;

  margin-top: 16px;
}

form input {
  font-size: 14px;

  height: 60px;

  border-radius: 8px;
  border: none;

  padding: 0 12px;
  margin-top: 4px;
  background: #fafafa;
}

form button {
  margin-top: 40px;
  height: 60px;

  border-radius: 8px;
  border: none;

  background-color: #13ec5b;
  color: #151515;
  font-weight: bold;
  font-size: 18px;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 60%;
}

.resultado span {
  font-size: 42px;
  font-weight: bold;
}

.container-barra {
  position: relative;
  width: 320px;
  margin: 20px 0;
}

.barra {
  display: flex;
  height: 15px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.segmento {
  flex: 1; /* Faz todos terem o mesmo tamanho inicial */
}

.abaixo-peso {
  background-color: #5ea6ff;
}
.normal {
  background-color: #2ecc71;
}
.sobrepeso {
  background-color: #f1c40f;
}
.obeso {
  background-color: #e74c3c;
}

.ponteiro {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  transition: left 0.5s ease;
}

.legendas {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #888;
  text-transform: uppercase;
  margin-top: 5px;
}
